
@import url('https://fonts.cdnfonts.com/css/metropolis-2');
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* === Tus Estilos Personalizados === */
@theme {
  --color-brand-magenta: #DD2E79;
  --color-brand-purple: #7030A0;
  --color-brand-dark: #741399;
  --color-brand-lime: #97BD12;
  --color-brand-gold: #FFC000;
  --color-brand-gray: #737070;
  --font-sans: "Metropolis", sans-serif;
}

body {
  font-family: 'Metropolis', sans-serif;
}

@utility glass-nav {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

/* Animación de desplazamiento infinito */
@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 30s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}